In [24]:
import pandas as pd
import numpy as np

In [143]:
merged_df = pd.read_csv('final_merged.csv')
harvard_df = pd.read_csv('data/HarvardCellLines.csv')

C:\Users\smcca\AppData\Local\Temp\ipykernel_41968\62579254.py:1: DtypeWarning: Columns (0,3,4,5,6,7,9,12,15,16,17,18,22,24,26,28,29,30,40,65,66,67,68,69,70,71,72,73,74,75,76,82,83,89,90,91,92,93,96,97,98,99,100,101,102,103,104,105,106,107,108,109,115) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv('final_merged.csv')

In [28]:
merged_df['Race'].value_counts()

Race
1.0    8032
2.0     658
4.0     445
5.0      29
0.0      23
3.0      19
6.0      10
8.0       5
7.0       1
Name: count, dtype: int64

In [26]:
import numpy as np

# Get value counts as probabilities
race_dist = merged_df['Race'].value_counts(normalize=True)

# Get the indices where race is missing
missing_indices = merged_df['Race'].isna()

# Sample values based on observed distribution
imputed_values = np.random.choice(race_dist.index, size=missing_indices.sum(), p=race_dist.values)

# Assign the sampled values to the missing positions
merged_df.loc[missing_indices, 'Race'] = imputed_values

In [32]:
merged_df['Race'].isna().sum()

0

In [34]:
merged_df['Age'].isna().sum()

0

In [95]:
merged_df['T Stage'].isna().sum()

727

In [131]:
def T_stage_by_size(size):
    if size == 0:
        return 0
    if size > 0 and size <= 20:
        return 1
    if size > 20 and size <= 50:
        return 2
    if size > 50:
        return 3

In [137]:
merged_df['T_stage_by_size'] = merged_df.apply(lambda row: row['T Stage'] if pd.notnull(row['T Stage']) else T_stage_by_size(row['Tumor Size']), axis=1)

In [138]:
merged_df['T_stage_by_size'].isna().sum()

134

In [116]:
filtered_df = merged_df[merged_df['Tumor Size'] == 4]

# Print only 'Name' and 'City' columns
print(filtered_df[['T_stage_by_size', 'Tumor Size']])

      T_stage_by_size  Tumor Size
230               1.0         4.0
581               1.0         4.0
621               1.0         4.0
847               1.0         4.0
898               1.0         4.0
1264              1.0         4.0
1310              1.0         4.0
1424              3.0         4.0
1463              1.0         4.0
1673              1.0         4.0
1681              1.0         4.0
1764              3.0         4.0
2512              1.0         4.0
2854              1.0         4.0
2945              1.0         4.0
3489              1.0         4.0
3577              1.0         4.0
3641              1.0         4.0
3934              1.0         4.0
4196              1.0         4.0
4250              1.0         4.0
4315              1.0         4.0
5278              1.0         4.0
5332              1.0         4.0
7090              1.0         4.0
7829              1.0         4.0
7946              1.0         4.0
7961              1.0         4.0

In [ ]:

from sklearn.metrics.pairwise import euclidean_distances
from sklearn.compose import ColumnTransformer

merged_df = pd.read_csv('final_merged.csv')
harvard_df = pd.read_csv('data/HarvardCellLines.csv')
merged_id_col = 'Patient ID'
merged_age_col = 'Age'
merged_race_col = 'Race'
merged_T_stage_col = 'T Stage'
harvard_id_col = 'HMS LINCS ID'
harvard_age_col = 'Donor Age'
harvard_race_col = 'Donor Ethnicity'
harvard_T_stage_col = 'T Stage'

patient_features = merged_df[[merged_id_col, merged_age_col, merged_T_stage_col]].copy()
cellline_features = harvard_df[[harvard_id_col, harvard_age_col, harvard_race_col, harvard_T_stage_col]].copy()
cellline_features.rename(columns = {
    harvard_age_col: 'Age',
    harvard_race_col: 'Race',
    harvard_T_stage_col: 'T Stage',
    harvard_id_col: 'CellLineID'
    })

    CellLineID   Age      Race  T Stage
0        50008  45.0       NaN      4.0
1        50029  69.0     White      4.0
2        50056  53.0       NaN      0.0
3        50057  43.0     White      4.0
4        50058  51.0     White      4.0
5        50105  74.0     White      4.0
6        50108  72.0     White      4.0
7        50131  51.0     White      4.0
8        50205  52.0     White      2.0
9        50206  43.0     White      1.0
10       50207  42.0  Hispanic      3.0
11       50208  49.0     White      4.0
12       50211  60.0     Black      2.0
13       50212  23.0     White      2.0
14       50213  61.0     Asian      2.0
15       50216  50.0    Female      2.0
16       50219  49.0     Black      3.0
17       50238  74.0     White      4.0
18       50327  74.0     White      4.0
19       50328  44.0     Black      4.0
20       50331  40.0     White      4.0
21       50333  43.0     White      4.0
22       50334  48.0     White      4.0
23       50335  51.0     Black      4.0
24       50541  54.0       NaN      4.0
25       50579  54.0     Black      2.0
26       50583  36.0     White      0.0
27       51081   NaN       NaN      4.0
28       51082   NaN       NaN      4.0
29       51083   NaN       NaN      4.0
30       51110  43.0       NaN      4.0
31       51112  35.0       NaN      4.0
32       51134   NaN       NaN      NaN
33       51135   NaN       NaN      NaN
34       51136   NaN       NaN      3.0